<% layout('layouts/boilerplate') %>
<div class="container mt-5 text-center">
  <h1 class="display-4"><%= err.statusCode || 500 %></h1>
  <p class="lead"><%= err.message || "Something went wrong!" %></p>
  <a href="/listings" class="btn btn-dark mt-3">Go back to Listings</a>
</div>